# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Macos
.DS_Store

# NPM
node_modules

# JSAR Runtime
.cache
!/thirdparty/**/*.a
!/thirdparty/**/*.so
!/thirdparty/**/*.dylib
!/thirdparty/**/*.dll
!/thirdparty/**/*.lib
!/thirdparty/**/*.exe
/build/targets/android
/build/targets/darwin
/build/targets/windows
/build/targets/proto
/build/output
/build/Debug
/build/Release
/build/Transmute*
/src/proto/*
!/src/proto/*.proto
*.apk

# JSAR
.zones
